[1manyio[0m==4.9.0
[1mappdirs[0m==1.4.4
[1mappnope[0m==0.1.4
[1margon2-cffi[0m==25.1.0
[1margon2-cffi-bindings[0m==21.2.0
[1marrow[0m==1.3.0
[1masttokens[0m==3.0.0
[1masync-lru[0m==2.0.5
[1mattrs[0m==25.3.0
[1mbabel[0m==2.17.0
[1mbeautifulsoup4[0m==4.13.4
[1mbleach[0m==6.2.0
[1mbs4[0m==0.0.2
[1mcertifi[0m==2025.6.15
[1mcffi[0m==1.17.1
[1mcharset-normalizer[0m==3.4.2
[1mcomm[0m==0.2.2
[1mcontourpy[0m==1.3.2
[1mcryptography[0m==45.0.5
[1mcssselect[0m==1.3.0
[1mcurl-cffi[0m==0.12.0
[1mcycler[0m==0.12.1
[1mdebugpy[0m==1.8.14
[1mdecorator[0m==5.2.1
[1mdefusedxml[0m==0.7.1
[1mexecuting[0m==2.2.0
[1mfake-useragent[0m==2.2.0
[1mfastjsonschema[0m==2.21.1
[1mfonttools[0m==4.59.0
[1mfqdn[0m==1.5.1
[1mgreenlet[0m==3.2.3
[1mh11[0m==0.16.0
[1mhttpcore[0m==1.0.9
[1mhttpx[0m==0.28.1
[1midna[0m==3.10
[1mipykernel[0m==6.29.5
[1mipython[0m==9.3.0
[1mipython-pygments-lexers[0m==1.1.1
[1mipywidgets[0m==8.1.7
[1misoduration[0m==20.11.0
[1mjedi[0m==0.19.2
[1mjinja2[0m==3.1.6
[1mjson5[0m==0.12.0
[1mjsonpointer[0m==3.0.0
[1mjsonschema[0m==4.24.0
[1mjsonschema-specifications[0m==2025.4.1
[1mjupyter[0m==1.1.1
[1mjupyter-client[0m==8.6.3
[1mjupyter-console[0m==6.6.3
[1mjupyter-core[0m==5.8.1
[1mjupyter-events[0m==0.12.0
[1mjupyter-lsp[0m==2.2.5
[1mjupyter-server[0m==2.16.0
[1mjupyter-server-terminals[0m==0.5.3
[1mjupyterlab[0m==4.4.4
[1mjupyterlab-pygments[0m==0.3.0
[1mjupyterlab-server[0m==2.27.3
[1mjupyterlab-widgets[0m==3.0.15
[1mkiwisolver[0m==1.4.8
[1mlxml[0m==6.0.0
[1mlxml-html-clean[0m==0.4.2
[1mmarkupsafe[0m==3.0.2
[1mmatplotlib[0m==3.10.3
[1mmatplotlib-inline[0m==0.1.7
[1mmistune[0m==3.1.3
[1mnbclient[0m==0.10.2
[1mnbconvert[0m==7.16.6
[1mnbformat[0m==5.10.4
[1mndg-httpsclient[0m==0.5.1
[1mnest-asyncio[0m==1.6.0
[1mnotebook[0m==7.4.3
[1mnotebook-shim[0m==0.2.4
[1mnumpy[0m==2.3.1
[1moutcome[0m==1.3.0.post0
[1moverrides[0m==7.7.0
[1mpackaging[0m==25.0
[1mpandas[0m==2.3.1
[1mpandocfilters[0m==1.5.1
[1mparse[0m==1.20.2
[1mparso[0m==0.8.4
[1mpexpect[0m==4.9.0
[1mpillow[0m==11.3.0
[1mplatformdirs[0m==4.3.8
[1mplaywright[0m==1.53.0
[1mprometheus-client[0m==0.22.1
[1mprompt-toolkit[0m==3.0.51
[1mpsutil[0m==7.0.0
[1mptyprocess[0m==0.7.0
[1mpure-eval[0m==0.2.3
[1mpyaes[0m==1.6.1
[1mpyasn1[0m==0.6.1
[1mpycparser[0m==2.22
[1mpyee[0m==13.0.0
[1mpygments[0m==2.19.2
[1mpyopenssl[0m==25.1.0
[1mpyparsing[0m==3.2.3
[1mpyppeteer[0m==0.0.25
[1mpyquery[0m==2.0.1
[1mpyrogram[0m==2.0.106
[1mpysocks[0m==1.7.1
[1mpython-dateutil[0m==2.9.0.post0
[1mpython-dotenv[0m==1.1.1
[1mpython-json-logger[0m==3.3.0
[1mpytz[0m==2025.2
[1mpyyaml[0m==6.0.2
[1mpyzmq[0m==27.0.0
[1mreferencing[0m==0.36.2
[1mrequests[0m==2.32.4
[1mrequests-html[0m==0.10.0
[1mrfc3339-validator[0m==0.1.4
[1mrfc3986-validator[0m==0.1.1
[1mrpds-py[0m==0.25.1
[1mselenium[0m==4.34.2
[1msend2trash[0m==1.8.3
[1msetuptools[0m==80.9.0
[1msix[0m==1.17.0
[1msniffio[0m==1.3.1
[1msortedcontainers[0m==2.4.0
[1msoupsieve[0m==2.7
[1mstack-data[0m==0.6.3
[1mterminado[0m==0.18.1
[1mtinycss2[0m==1.4.0
[1mtornado[0m==6.5.1
[1mtqdm[0m==4.67.1
[1mtraitlets[0m==5.14.3
[1mtrio[0m==0.30.0
[1mtrio-websocket[0m==0.12.2
[1mtypes-python-dateutil[0m==2.9.0.20250516
[1mtyping-extensions[0m==4.14.0
[1mtzdata[0m==2025.2
[1mundetected-chromedriver[0m==3.5.5
[1muri-template[0m==1.3.0
[1murllib3[0m==2.5.0
[1mw3lib[0m==2.3.1
[1mwcwidth[0m==0.2.13
[1mwebcolors[0m==24.11.1
[1mwebdriver-manager[0m==4.0.2
[1mwebencodings[0m==0.5.1
[1mwebsocket-client[0m==1.8.0
[1mwebsockets[0m==15.0.1
[1mwidgetsnbextension[0m==4.0.14
[1mwordcloud[0m==1.9.4
[1mwsproto[0m==1.2.0
